:root {
    --primary-color: #0a1128;
    --white-color: #ffffff;/*variavel de cor branca*/
    --light-gray-color: #eeeeee;/*variavel de cor branca*/
    --secondery-color: #f81945;
    --gap: 3rem;
}